

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');




*, *::before, *::after {
    box-sizing: inherit;
}


html {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

.img {
    max-width: 100%;
    display: block;

}


header {
    height: 6rem;
    max-inline-size: 60%;
    margin: 0 auto;
    
}

.d-flex-header {
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    margin-top: 2em;
    /* background-color: aqua; */

}


.incipit {

    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #000000;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 6.2rem;
    margin-top: 6.2rem;
    max-inline-size: 60%;
    letter-spacing: 0.05em;
    line-height: 2;
    /* BILANCIAMENTO TIPOGRAFICO INCIPIT */
    text-wrap: balance;
    
}

.incipit-accents {
    
    color: rgb(123, 123, 111);
    /* color: rgb(255, 255, 255); */
    font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
  padding: 0.1em;
  background-color: rgba(155, 153, 139, 0.081);
  


}

.simbolo {
    text-align: center;
}

/* Hero e sfondo parallax */
.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);

}

.hero-bg {
    position: absolute;
    inset: 0;
    top: -10%;
    left: 0%;
    width: 120%;
    background-image: url('img/Post_prod2.jpg'); /* inserisci la tua immagine */
    background-size: cover;
    background-position: center;
    will-change: transform;
    z-index: -1;
    
    
}

.d-flex {

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-bottom: 1em;
    box-shadow: 0 6px 12px rgba(0,0,0,0.35);
   
}

.flex__body {
    /* background-color: lightblue; */
    font-size: 2rem;
    color: rgb(50, 50, 50);
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: .5em;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,0.25);
}

/* IL TUO SPAZIO */
.flex__title {
    font-size: 7rem;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #F0EEE9;
    letter-spacing: 0.06em;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    text-shadow: 0 6px 12px rgba(0,0,0,0.35);

}



.title-bg {
    
    background-color: rgba(155,153,139,0.85);
    margin: 0 auto;

}

.flex__body, .flex__title {
    margin-block: 0.1em;
    border: #F0EEE9 solid 0.2rem;
    /* ombra testi hero */
    
}

.accent-text {

    color: #F0EEE9;
    font-family: "Lato", sans-serif;
    font-style: italic;
    
}

.main-flex {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    max-inline-size: 60%;
    font-size: 1.2em;
    margin-top: 3rem;
    
}

/* bilanciamento figli diretti del flex row */
.main-flex > div {

    flex: 1;
}

.main__title {
    color: rgb(92, 92, 92);
}

.main--items p {
    line-height: 1.6;
}


.bg-aurora {
    margin-top: 4em;
    background-image: url(img/aurora_resized.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
}

.cta {
    
    max-inline-size: 60%;
    margin: 0 auto;
    font-weight: 300;
    font-style: normal;
    max-inline-size: 60%;
    font-size: 1.2em;
    line-height: 1.6;
    color: #F0EEE9;
    padding: 2em;
    
    /* background-color: blue; */
    
}

.cta-instructions {
    background-color: rgba(0,0,0,0.4);
    border: #F0EEE9 solid 0.15rem;
    /* padding intorno al testo insrtuctions relativo a VW */
    padding: 1rem 5vw;
    margin: 0 auto;
    box-shadow: inset 0px 1px 18px rgba(0, 0, 0, 0.25);
}



.cta__title {
    color: #F0EEE9;
}



.cta__body {
    margin: 0 auto;
    font-size: 1em;
    font-weight: 500;
    text-wrap: balance;
}

.simbolo_cta {
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
}




/* ARTICOLI RECENSIONI GRID*/

.testimonials-section-title {
    font-size: 1.8rem;
    color: rgb(92, 92, 92);
    text-align: center;

}
/* grid layout */
.grid-layout {
    grid-auto-columns: 1fr;
    width: 80vw;
    margin: 2.5em auto;
    display: grid;
    gap: 4em;
    grid-template-areas:
    'testimonial-01'
    'testimonial-02'
    'testimonial-03'
    'testimonial-04'
    'testimonial-05';

}

/* stili e padding articles CARDS (figli diretti di grid-layout) */
.grid-layout > article {
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.25);
    padding: 1rem 4vw;
    margin: 0 auto;
    border-radius: 1em;
}

.flex-testimonial {
    display: flex;
    flex-direction: row;
    gap:1rem;
    justify-content: flex-start;
    align-items: center;
}

.testimonial-paragrafi {
    text-wrap: balance;
    font-weight: 300;
    line-height: 1.3;
    /* font-size: 1.2rem; */
}

/* come arrotondare la foto?? */
.testimonial-pic > img {
    border-radius: 50%;
    border: solid 0.15rem #F0EEE9;
    box-shadow: 2px 3px 3px rgba(0,0,0,.25);
}

.testimonial-d-col {
    display: flex;
    flex-direction: column;
}

.testimonial-definitions > p {
    margin: 0;

    
}

.testimonial-position {
margin: 0;
}
    

.testimonial-name {
    font-size: 1.2rem;
    line-height: 0.9;
    margin: 0;
    margin-bottom: .5rem ;
}


.testimonial-position {
    text-transform: uppercase;
    font-size: 0.65rem;
    font-weight: 500;
}


.museo-img {
    max-width: 30%;
}
/* stili e padding articles CARDS (figli diretti di grid-layout) */



/* definizione grid-areas e colori sfondo*/
.testimonial-01 {

    background-color: #e5e7e9;
    grid-area: testimonial-01;
}

.testimonial-02 {
    background-color: #056061;
    grid-area: testimonial-02;
    color: #F0EEE9;

}
.testimonial-03 {
    background-color:#ebede7;
    grid-area: testimonial-03;
}
.testimonial-04 {
    background-color: #fff6f6;
    grid-area: testimonial-04;
}

.testimonial-05 {
    background-color: #3b3a3b;
    color: #F0EEE9;
    grid-area: testimonial-05;
}


.mockup {

    width: 100vw;
    position: center;
    box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.25);

}

footer {
    padding: 2em 4vw;
    font-size: 1rem;
    font-weight: 300;
    width: 100vw;
    text-align: center;
}


.footer-title {
    font-size: 1.8rem;
    color: rgb(92, 92, 92);
    margin-bottom: 0;
}

.footer-body {
    font-size: 1rem;
    color: rgb(92, 92, 92);
    margin-top: 0.5em;
}

/* media query grids */
@media (min-width:30em){
.grid-layout {
    grid-template-areas:
    'testimonial-04 testimonial-04'
    'testimonial-02 testimonial-01'
    'testimonial-03 testimonial-01'
    'testimonial-05 testimonial-05';

    
}
}

@media (min-width:30em){
.grid-layout > article {
    box-shadow: 6px 12px 10px rgba(0, 0, 0, 0.25);
    }
}



@media (min-width:70em){
.grid-layout {
    grid-template-areas:
    'testimonial-01 testimonial-01 testimonial-02 testimonial-04'
    'testimonial-03 testimonial-05 testimonial-05 testimonial-04'
    
}
}





/* Responsività */
@media (min-width:86rem) {
    .main-flex{
        flex-direction: row;
        gap: 3em;
    }
}



@media (max-width:50rem) {
    html {
        font-size: 95%;
    }
    }


@media (max-width:30rem) {
    html {
        font-size: 80%;
    }
    .hero-bg {
        background-attachment: scroll;
        will-change: transform;
       
    }
    
}




@media (min-width: 30rem) {
    .grid-layout {
        gap: 2rem;
    }
}

/* per non far uscire il testo dallo sfondo */
@media (max-width: 60rem) {
    .hero {
        min-height: 70vh; /* o 60vh */


    }
}


@media (min-width: 30rem) {
.hero-bg {
        top: -60%;
        left: -20%;
        width: 140%;
    }
    

}




@media (min-width: 30rem) {
    
    .flex__title {
        font-size: 4rem;
    }

    .flex__body {
     font-size: 1rem;
}
}


@media (min-width: 40rem) {
    
    .flex__title {
        font-size: 4.2rem;
    }

    .flex__body {
     font-size: 1.2rem;
}
}


@media (min-width: 60rem) {
    
    .flex__title {
        font-size: 5.5rem;
    }

    .flex__body {
     font-size: 1.4rem;
}
}

